# docker-compose.yaml
# Этот файл описывает конфигурацию сервисов для запуска в Docker.
# Мы используем версию 3 формата Docker Compose.

services:
  db:
    # Используем официальный образ PostgreSQL
    image: postgres:latest
    restart: always
    environment:
      # Настройки для инициализации базы данных
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user_cart_order
    ports:
      # Проброс порта: внешний порт 5433 -> внутренний порт контейнера 5432
      - "5433:5432"
    # Проверка здоровья сервиса базы данных
    # Важно: Добавлена для того, чтобы сервис user-cart-order не запускался до полной готовности базы данных
    # Это решает проблему, когда сервис user-cart-order не может подключиться к базе данных при старте
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d user_cart_order"]
      interval: 5s     # Проверка каждые 5 секунд
      timeout: 5s      # Таймаут проверки
      retries: 5       # Количество повторных попыток
      start_period: 10s # Начальный период для инициализации

  db_product: 
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: product
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d product"]
      interval: 5s     
      timeout: 5s      
      retries: 5       
      start_period: 10s 

  
  redis_db:
    image: redis:latest
    restart: unless-stopped   
    ports:
    - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 5s
      retries: 5

  llm-service:
    build:
      context: ./llm-service
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      redis_db:
        condition: service_healthy
    env_file:
      - ./llm-service/.env

  user-cart-order:
    image: aleksandraksenov/user-cart-order
    ports:
      # Проброс порта для gRPC сервиса
      - "50052:50052"
    depends_on:
      # Ждем успешного применения миграций
      migrate_user_cart_order:
        condition: service_completed_successfully
    env_file:
      # Подключаем файл с переменными окружения
      - ./user-cart-order/.env
  
  product:
    build:
      context: .
      dockerfile: product/Dockerfile
    ports:
      - "50051:50051"
    depends_on:
      # Ждем успешного применения миграций
      migrate_product:
        condition: service_completed_successfully
    env_file:
      # Подключаем файл с переменными окружения
      - ./product/.env

  migrate_user_cart_order:
    image: migrate/migrate:4
    command: [
      "-path", "/migrations",
      "-database", "postgres://user:password@db:5432/user_cart_order?sslmode=disable",
      "up"
    ]
    volumes:
      - ./user-cart-order/migrations:/migrations
    depends_on:
      db:
        condition: service_healthy

  migrate_product:
    image: migrate/migrate:4
    command: [
      "-path", "/migrations",
      "-database", "postgres://user:password@db_product:5432/product?sslmode=disable",
      "up"
    ]
    volumes:
      - ./product/migrations:/migrations
    depends_on:
      db_product:
        condition: service_healthy
      